.another-wrapper{
    .another-slide{
        flex-container(center, row, center, nowrap)
        height 100vh
        width 100vw
        .slide-title{
            color $c-black
            font-size 120px
            text-transform uppercase
        }
        &.slide-test{
            &:nth-child(odd){
                background $c-yellow
            }
            &:nth-child(even){
                background $c-orange
            }
        }
    }
}