body.another-style-body{
    background $c-black
    color $c-white
    font-family 'Anton', sans-serif
    font-size 16px
    letter-spacing 3px
    line-height 1.2
    overflow hidden
    position relative
    width 100vw
}

*{
    box-sizing border-box
}