/******************
 * CONFIG IMPORTS *
 ******************/
@import './config/_reset.styl'
@import './config/_vars.styl'
/*****************
 * UTILS IMPORTS *
 *****************/
@import './utils/_functions.styl'
/**************************
 * ANOTHER STYLES IMPORTS *
 **************************/
@import './another-styles/_slides.styl'
@import './another-styles/_wrapper.styl'
/******************
 * GLOBAL IMPORTS *
 ******************/
@import './_global.styl'